<div id="wrapper">
    <div id="content-wrapper" class="login-wrapper">
        <div class="login-container">
            <div class="login-content">
                
                <form class="login-form" id="login-form" ng-submit="login()" ng-hide="fromLogin">
                    <div class="form-group">
                        <label class="" for="search">User</label>
                        <div class="input-group">
                            <div class="input-group-addon addon-style"><span class="glyphicon glyphicon-user"></span></div>
                            <input type="text" class="form-control" id="user" placeholder="User" ng-model="userLogin.username" required focus-on="init"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="" for="search">
                            Password
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon addon-style"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" id="password" placeholder="Contraseña" ng-model="userLogin.password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-send">Sign</button>
                    <section class="text-center">         
			           <div class="alert alert-danger" ng-show="showError">Bad credentials</div>
			           <div class="alert alert-success" ng-show="showSuccess">Correct credentials</div>
			        </section>
                    

                </form>

            </div>
        </div>
    </div>
</div>