<div class="main-content">
	<h1></h1>
    <div class="content">
    	<div class="subtitle">
            <h4>PRODUCTS</h4>
        </div>
        <table class="table table-sm table-hover table-bordered table-responsive"
        	template-pagination="views/utils/pagination-template.html"
        	ng-table="gridProducts">
            <tr ng-repeat="item in $data">
                <td data-title="'Name'" class="text-center">{{item.name}}</td>
                <td data-title="'Description'" class="text-center">{{item.description}}</td>
                <td data-title="'Category'" class="text-center">{{item.category.name}}</td>
                <td data-title="'Quantity'" class="text-center">{{item.quantity}}</td>
                <td data-title="''" class="text-center">
                    <button type="button" data-ng-click="delete(item.id)" class="btn btn-primary glyphicon glyphicon-shopping-cart"></button>
                  <button ng-hide="isAdmin()" type="button" data-ng-click="delete(item.id)" class="btn btn-danger glyphicon glyphicon-remove"></button>
                </td>
            </tr>
        </table>
    </div>
</div>