<div id="wrapper">
        <div id="content-wrapper" class="wrapper">
            <div class="container">
                <div class="content">
                    <form class="form" id="form" ng-submit="save()">
                        <div class="form-group">
                            <label class="" for="name">Name</label>
                            <div class="input">
                                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="product.name"/>
                            </div>
                        </div>

                        <div class="form-group">
                                <label class="" for="description">Description</label>
                                <div class="input">
                                    <input type="text" class="form-control" id="description" placeholder="Description" ng-model="product.description"/>
                                </div>
                        </div>

                        <div class="form-group">
                            <label class="" for="quantity">Quantity</label>
                            <div class="input">
                                <input type="number" class="form-control" id="quantity" placeholder="Quantity" ng-model="product.quantity"/>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Save</button>
    
                    </form>
    
                </div>
            </div>
        </div>
    </div>