<div class="ng-cloak ng-table-pager" ng-if="params.data.length">
	<div ng-if="params.settings().counts.length" class="pull-right form-group">
		<select class="form-control" id="filter-page" name="filter-page" 
				ng-init="counter = params.count()"
				ng-model="counter"
				ng-options="option for option in params.settings().counts track by option"
				ng-change="params.count(counter)">
		</select>
	</div>

	<ul ng-if="pages.length" class="pagination ng-table-pagination pagination-content">
	    <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;</a>
	        <a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
	        <a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
	        <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
	        <a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
	        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">&raquo;</a>
	    </li>
	</ul>

	<h5>mostrando {{((params.page() - 1) * params.count()) + 1}} al {{params.count() * params.page() > params.total() ? params.total() : params.count() * params.page()}} de {{params.total()}}.
	</h5>
</div>