.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

.main-content {
  margin-top: 122px !important;
  margin-bottom: 5em !important;
  margin-left: 0 !important;
  padding: 0 15px !important;
  width: 100% !important;
}

.content {
  padding-bottom: 20px;
  border-top: 5px solid rgb(39, 57, 73);
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.subtitle {
  width: 100%;
  height: 31px;
  border-bottom: 1px solid rgb(210, 214, 222);
}

.login-container {
  width: 100%;
  margin-top: 60px;
  .login-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(243, 243, 243);
    overflow: auto;
    z-index: 800;
  }
}

.login {
    top: 0;
    left: 0;
    right: 0;
    height: 61px;
    border-bottom: 1px solid rgb(210, 214, 222);
    background-color: white;
    position: fixed;
    z-index: 900;
}

.login h1 {
    margin: 0;
    font-size: 31px;
    margin-left: 10px;
    line-height: 61px;
}

.login-content {
    width: 435px;
    border-radius: 8px;
    margin: 100px auto;
    padding: 40px;
    text-align: center;
    color: white;
    background: rgb(38, 83, 117);
    background: -moz-linear-gradient(top, rgba(38, 83, 117, 1) 0%, rgba(39, 57, 73, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(38, 83, 117, 1) 0%, rgba(39, 57, 73, 1) 100%);
    background: linear-gradient(to bottom, rgba(38, 83, 117, 1) 0%, rgba(39, 57, 73, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#265375', endColorstr='#273949',GradientType=0 );
}


